/*  Login style */


.auth-main {
    display: flex;
    justify-content: center;
    align-items: center;
}

.auth-wrapper.v3 {
    background: white;
    border-radius: 15px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
    padding: 40px;
    max-width: 400px;
    width: 100%;
    animation: fadeIn 1s ease;
}

.auth-header img {
    display: block;
    margin: 0 auto 20px;
    max-width: 150px;
}

#se-connecter {
    color: #333;
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
}

.form-label {
    font-weight: 600;
    color: #555;
}

.form-control {
    border-radius: 8px;
    border: 1px solid #ccc;
    padding: 12px;
    font-size: 14px;
    transition: all 0.3s ease;
}

.form-control:focus {
    border-color: #667eea;
    box-shadow: 0 0 8px rgba(102, 126, 234, 0.4);
    outline: none;
}

.inputPasswoed_iconeEye {
    position: relative;
}

.inputPasswoed_iconeEye input {
    width: 100%;
}

#icone_Eye {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    color: #999;
}



.btn-primary:hover {
    background-color: #5a67d8;
}

.form-check-label {
    font-size: 14px;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}
/* Style des selects */
.form-group select {
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Style au survol */
.form-group select:hover {
    border-color: #007BFF;
}

/* Style au focus */
.form-group select:focus {
    border-color: #007BFF;
    outline: none;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}
.datatable-info{
    text-align: center;
}
.datatable-pagination {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin: 0;
}

.datatable-pagination-list {
    list-style: none;
    display: flex;
    gap: 10px;
    padding: 0;
    margin: 0;
}

/* .datatable-pagination-list li {
    cursor: pointer;
    padding: 3px;
}  */

.datatable-pagination-list li:hover {
    background-color: #007BFF;
    cursor: pointer;
    padding: 0 5px;
}

.datatable-active {
    background-color: #007BFF;
    color: #fff;
    border-color: #007BFF;
    padding:0 5px;
}
/*  Styling the departements*/
.add-fil-dep:hover {
    background-color: #007BFF;
    color: #fff;
    border-color: #007BFF;
    padding: 0 5px;
}
.annonces-card{
    padding-bottom: 0;
}
.table-header > * {
    color: #000061;
}
.card:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transform: translateY(-2px);
    transition: ease 0.7s;
}
/* Style des annonces */
.pc-submenu .pc-item:hover {
    color: green;
    background-color: #f0f0f0;
    border-color: green;
}