

/* Style des selects */
.form-group select {
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Style au survol */
.form-group select:hover {
    border-color: #007BFF;
}

/* Style au focus */
.form-group select:focus {
    border-color: #007BFF;
    outline: none;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}
.datatable-info{
    text-align: center;
}
.datatable-pagination {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin: 0;
}

.datatable-pagination-list {
    list-style: none;
    display: flex;
    gap: 10px;
    padding: 0;
    margin: 0;
}

/* .datatable-pagination-list li {
    cursor: pointer;
    padding: 3px;
}  */

.datatable-pagination-list li:hover {
    background-color: #007BFF;
    cursor: pointer;
    padding: 0 5px;
}

.datatable-active {
    background-color: #007BFF;
    color: #fff;
    border-color: #007BFF;
    padding:0 5px;
}
/*  Styling the departements*/
.add-fil-dep:hover {
    background-color: #007BFF;
    color: #fff;
    border-color: #007BFF;
    padding: 0 5px;
}
.annonces-card{
    padding-bottom: 0;
}
.table-header > * {
    color: #000061;
}
.card:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transform: translateY(-2px);
    transition: ease 0.7s;
}
/* Style des annonces */
